body {
  padding-top: 50px;
  font-family: "Poppins", sans-serif;
}
.card {
  margin-bottom: 20px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  border-radius: 9px;
}

/* Barra lateral de riesgo */
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 6px;
}
.riesgo-0::before {
  background-color: #66bb6a;
} /* Verde */
.riesgo-1::before {
  background-color: #81c784;
} /* Verde claro */
.riesgo-2::before {
  background-color: #ffa726;
} /* Naranja */
.riesgo-3::before {
  background-color: #fb8c00;
} /* Naranja oscuro */
.riesgo-4::before {
  background-color: #ef5350;
} /* Rojo */
.riesgo-5::before {
  background-color: #d32f2f;
} /* Rojo oscuro */

/* Iconos de categoría */
.categoria-icon {
  width: 48px;
  height: 48px;
  margin-right: 5px;
  vertical-align: text-top;
}

/* Títulos de tarjetas */
.card-header {
  background-color: #f8f9fa;
  border-bottom: 3px solid #e9ecef;
  display: flex;
  align-items: center;
}
.card-title {
  color: #495057;
  font-weight: 600;
  margin-bottom: 0;
  flex-grow: 1;
}

/* Indicador de valoración */
.valor-indicador {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
  border: none;
  cursor: pointer;
}

.valor-indicador:hover {
  opacity: 0.8;
}

.valor-indicador:focus {
  outline: none;
}

.valor-0 {
  background-color: #20c997;
}
.valor-1 {
  background-color: #28a745;
}
.valor-2 {
  background-color: #fd7e14;
}
.valor-3 {
  background-color: #f39c12;
}
.valor-4 {
  background-color: #e74c3c;
}
.valor-5 {
  background-color: #dc3545;
}
.btn-outline-info {
  color: #2f6c76;
  border-color: #d8e1e2;
}

.btn-outline-info:hover {
  color: #2f6c76;
  background-color: #7ea1a739;
  border-color: #17a2b82e;
}
.btn-warning {
  color: #f2f8fd;
  background-color: #3d73b2;
  border-color: #c1d5dd;
}

/* NUEVOS ESTILOS */
/* Estilos para el encabezado */
.header {
  display: flex;
  align-items: flex-start;
  margin-top: -60px;
  padding: 10px;
  font-size: 40px;
  margin-bottom: -100px;
}

.header img {
  height: 70px;

  margin-left: -20px;
}

/* Estilos para la escala de valoración */
.rating-scale {
  margin-top: 40px;
  padding: 90px;
  background-color: #f8f9fa;
  border-radius: 5px;
  margin-bottom: -40px;
}

.rating-scale h4 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #333;
  margin-top: -35px;
}

.scale-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  margin-right: 15px;
}

.extreme {
  background-color: #d32f2f;
}
.very-high {
  background-color: #ef5350;
}
.high {
  background-color: #fb8c00;
}
.medium {
  background-color: #ffa726;
}
.low {
  background-color: #81c784;
}
.negligible {
  background-color: #66bb6a;
}

.scale-item div:last-child {
  flex-grow: 1;
}

/* Estilos para el footer */
.footer {
  background-color: #343a40;
  color: #f8f9fa;
  padding: 20px 0;
  margin-top: 40px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  font-size: 0.9rem;
}

.footer-links a {
  color: #f8f9fa;
  margin-left: 15px;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer-links a:hover {
  color: #fff;
  text-decoration: underline;
}
.separator {
  border: none;
  height: 1px;
  background-color: #00000014;
  margin: 20px auto;
  width: 113.5%;
  margin-left: -75px;
}

#loadingMessage {
  margin-top: 20px;
  text-align: center;
}

.spinner-border {
  margin-right: 10px;
}
