
<!DOCTYPE html>
<html>
  <head>
    <title>Data Harbor</title>

    <!-- Enlaces a hojas de estilo externas importacion de elementos-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styless.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"
    />
    <link rel="shortcut icon" href="https://shorturl.at/tQHwn">
  </head>

  <body>
    <!-- CAPA PRINCIPAL -->
    <div id="mainContent">
    <div class="container text-center my-5">


      <!-- Encabezado con logo y título -->
      <div class="header my-4">
        <img src="https://shorturl.at/tQHwn" alt="Logo" class="header" />
        <h1 class="header">Data Harbor</h1>
      </div>


      <!-- Sección de búsqueda -->
      <div class="search-container my-5">
        <!-- METODO PARA CONECTAR CON BACKEND -->
        <form action="{{ url_for('search_results') }}" method="POST">
        <h2 class="typing-text"></h2>
        <p class="additional-text">
          <strong>¿Deseas conocer los datos públicos de una empresa?</strong>
        </p>
        <p class="additional-text"><strong>¡Encuéntrala ahora!</strong></p>


        <!-- Barra de búsqueda y botón -->
        <div class="container">
          <div
            class="row height d-flex justify-content-center align-items-center"
          >
            <div class="col-md-8">
              <div class="search">
                <i class="fa fa-search"></i>
                <!-- BARRA DE BUSQUEDA -->
                <input
                  type="text"
                  name="domain"
                  class="form-control"
                  placeholder="Buscar ahora..."
                />
                <!-- BOTON -->
                <button type="submit" class="btn btn-primary" >Buscar</button>

                <!-- Animacion de carga -->
                <!-- <div id="loadingMessage" style="display: none;">
                  <div class="spinner-border text-primary" role="status">
                      <span class="sr-only">Cargando...</span>
                  </div>
                  <span>Esto puede tardar unos segundos...</span>
              </div> -->



              </div>
            </div>
          </div>
        </div>

        <!-- Recomendaciones de busqueda -->
        <p class="sample-text">
          Dominios populares, e.g., prdubanco.com.ec, nestle.com,
          corporacionfavorita.com.
        </p>
      </div>


      <!-- Opciones de búsqueda (checkboxes) -->
      <div class="checkbox-container my-3">


        <!-- SUBDOMINIOS  -->
        <div class="form-check form-check-inline">
          <!-- checkbox subdominios-->
          <input
            class="form-check-input"
            type="checkbox"
            name="subdomains"
            id="inlineCheckbox1"
            value="subdomains"
          />
          <!-- label subdominios-->
          <label class="form-check-label" for="inlineCheckbox1"
            >Subdominios</label
          >
        </div>


        <!-- CORREOS -->
        <div class="form-check form-check-inline">
          <!-- checkbox correos-->
          <input
            class="form-check-input"
            type="checkbox"
            id="inlineCheckbox2"
            name="emails"
            value="emails"
          />
          <!-- label correos -->
          <label class="form-check-label" for="inlineCheckbox2">Correos Electrónicos</label>
        </div>


        <!-- DOCUMENTOS -->
        <div class="form-check form-check-inline">
          <!-- checkbox documentos-->
          <input
            class="form-check-input"
            type="checkbox"
            id="inlineCheckbox2"
            name="documents"
            value="documents"
          />
          <!-- label documentos -->
          <label class="form-check-label" for="inlineCheckbox2"
            >Documentos</label
          >
        </div>


        <!-- APLICACIONES MOVILES -->
        <div class="form-check form-check-inline">
          <!-- checkbox apps-->
          <input
            class="form-check-input"
            type="checkbox"
            id="inlineCheckbox2"
            name="applications"
            value="applications"
          />
          <!-- label apps-->
          <label class="form-check-label" for="inlineCheckbox2"
            >Aplicaciones</label
          >
        </div>


        <!-- TECNOLOGIAS -->
        <div class="form-check form-check-inline">
          <!-- checkbox tecnologias-->
          <input
            class="form-check-input"
            type="checkbox"
            id="inlineCheckbox2"
            name="technologies"
            value="technologies"
          />
          <!-- label tecnologias-->
          <label class="form-check-label" for="inlineCheckbox2"
            >Tecnologías</label
          >
         
        </div>
      </div>
    </div>
  </div>

    
  <!-- ANIMACION DE ESPERA -->
   <!-- CAPA DE ESPERA -->
  <div id="loadingOverlay" style="display: none;">
    <div id="loadingMessage">
      <dotlottie-player src="https://lottie.host/f21645d8-deae-4e96-b72f-4809d05cda76/CL3J4EcE2E.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
      <p>Esto puede tardar unos segundos...</p>
        
    </div>
</div>


</div>
    
    <!-- Scripts de JavaScript -->
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>

